.ordenadas{
    background-color: yellow;
}

.par{
    color: seagreen;
}

.impar{
    text-transform: capitalize;
}

.header{
    color: red;
}

.italico{
    font-size: 40px;
    border: solid black 1px;
}

li{
    font-size: 20px;
}

li em{
    font-weight: bold;
}

ul li:nth-of-type(-n+3) {
    color: blue;
}

ul li a:hover{
    font-weight: 700;
}

#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
}
  
.pink-bg {
    background-color: pink;
}

.aliados li a[href*="stackoverflow"] {
    color: orange;
}
  
.aliados li a[href*="w3schools"] {
    color: green;
}
  
.aliados li a[href*="mozilla"] {
    color: black;
}
  
.aliados li a[href*="devdocs"] {
    color: yellow;
}
  
.aliados li a[href*="trybe"] {
    color: green;
}