body {
  margin: 4vw 3vw 4vw 3vw;  
}

h1 {
  font-size: 1.5em;
}

h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 3vw 0vw 3vw 0vw;
}

p {
  font-size: x-large;
}

figcaption {
  font-style: italic;
}

@media (min-width: 750px) {
  body {
    background-color: beige;
  }
  p {
    font-size: larger;
  }
  body {
    margin-right: 15vw;
    margin-left: 15vw;
  }

  .main-container  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .main-container figure {
    margin-left: 3px;
    margin-right: 3px;
  } 
  
  .main-container figure img {
  }
}

@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    margin: 5vw 10vw 10vw 10vw;
  }

  p {
    display: flex;
    max-width: 50vw;
    font-size: x-large;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  body > section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}
